@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --radius: 0.5rem;
  --chart-1: oklch(0.671 0.170 131.00935986853622);
  --chart-2: oklch(0.769 0.157 129.1949824217902);
  --chart-3: oklch(0.790 0.092 127.4103504375682);
  --chart-4: oklch(0.496 0.129 131.39736922384589);
  --chart-5: oklch(0.418 0.104 130.79712960015098);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1.000 0.000 0);
  --foreground: oklch(0.149 0.005 125.99210852560104);
  --card: oklch(1.000 0.000 0);
  --card-foreground: oklch(0.149 0.005 125.99210852560104);
  --popover: oklch(1.000 0.000 0);
  --popover-foreground: oklch(0.149 0.005 125.99210852560104);
  --primary: oklch(0.671 0.170 131.00935986853622);
  --primary-foreground: oklch(0.977 0.023 126.06162863271165);
  --secondary: oklch(0.851 0.009 125.87825999552683);
  --secondary-foreground: oklch(0.220 0.006 126.1183060821018);
  --muted: oklch(0.851 0.009 125.87825999552683);
  --muted-foreground: oklch(0.523 0.020 126.25268464614544);
  --accent: oklch(0.790 0.147 142.61616410962037);
  --accent-foreground: oklch(0.243 0.055 142.40807049223068);
  --destructive: oklch(0.580 0.237 28.43022926835138);
  --border: oklch(0.922 0.003 17.208294632017292);
  --input: oklch(0.922 0.003 17.208294632017292);
  --ring: oklch(0.671 0.170 131.00935986853622);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.210 0.024 127.40187578601984);
  --foreground: oklch(0.964 0.004 125.78859699698747);
  --card: oklch(0.262 0.034 127.65151418713094);
  --card-foreground: oklch(0.964 0.004 125.78859699698747);
  --popover: oklch(0.262 0.034 127.65151418713094);
  --popover-foreground: oklch(0.964 0.004 125.78859699698747);
  --primary: oklch(0.684 0.178 131.40847970521733);
  --primary-foreground: oklch(0.964 0.004 125.78859699698747);
  --secondary: oklch(0.340 0.027 126.85776059824444);
  --secondary-foreground: oklch(0.965 0.005 125.81334380728342);
  --muted: oklch(0.340 0.027 126.85776059824444);
  --muted-foreground: oklch(0.751 0.040 126.45790358158204);
  --accent: oklch(0.749 0.197 142.24042311983425);
  --accent-foreground: oklch(0.969 0.023 143.50955065489234);
  --destructive: oklch(0.529 0.195 27.156747692001183);
  --border: oklch(0.336 0.048 127.86571131397488);
  --input: oklch(0.336 0.048 127.86571131397488);
  --ring: oklch(0.684 0.178 131.40847970521733);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
